@{
    Layout = null;
}
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @* For Jquery Ajax *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    @* For Sweet Alert *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .form-container {
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
            background-color: aliceblue;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .text-center {
            font-weight: bold;
            color: #333;
        }

        .form-control, .btn {
            border-radius: 5px;
        }

        .small-screen .form-container {
            padding: 15px;
            box-shadow: none;
        }

        .small-screen .form-group label,
        .small-screen .btn {
            font-size: 0.9em;
        }

        .small-screen .btn {
            padding: 10px;
        }
         body {
            background: url('/images/stdimg.jpg') no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
            margin-left:100px;
            margin-right:100px
        }
    </style>

    <script>

        $(document).ready(function () {
            $('#vdata').click(function () {
                location.href = "/RegdForm/ViewAllData";
            });
            $('#vdata').click(function () {
                $('#responseMessage').val('');
            });
            //Submit Data
            $('#btnRegister').click(function (e) {
                e.preventDefault();
                var uname = $('#username').val();
                var pwd = $('#password').val();
                if (uname == '') {
                    Swal.fire({
                        title: 'Error!',
                        text: 'User Name Can not Be Blank',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    return;
                }
                if (pwd == '') {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Password Can not Be Blank',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    return;
                }
                var frmdta = new FormData();
                frmdta.append("username", $('#username').val());
                frmdta.append("password", $('#password').val());
                Swal.fire({
                    title: 'Are you sure to Login?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Login',
                    confirmButtonColor: 'blue',
                    cancelButtonText: 'Cancel',
                    cancelButtonColor: 'red',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/RegdForm/CheckLogIn',
                            type: 'POST',
                            processData: false,
                            contentType: false,
                            data: frmdta,
                            success: function (response) {
                                if (response.success = true)
                                {                                
                                   location.href = "/RegdForm/Dashboard";
                                }
                                else
                                {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: response.message,
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    }).then(() => {
                                        location.href = "/RegdForm/LogIn";
                                    });
                                }
                            },
                            error: function (xhr) {
                                $('#responseMessage').text('Error: ' + xhr.responseText);
                            }
                        });
                    }
                });
            });

        });
    </script>
</head>
<body>

    <!-- Form Container -->
    <div class="container">
        <div class="form-container">
            <h2 class="text-center"><b>LogIn Form</b></h2>
            <form id="frm">
                <div class="form-group">
                    <label for="name">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter user name">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="btnRegister">Login</button>
                <button type="reset" class="btn btn-danger btn-block" id="btnreset">Clear</button>
                <a href="/RegdForm/Index">User Registration</a>
            </form>
        </div>
    </div>
</body>
</html>